<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data"> 
        <!-- //action defines which route we should go    -->
        <input type="file" name="profileImage">
        <input type="submit" value="Üpload">
    </form>
</body>
</html>